# Telegram Bot Token
# Получите токен у @BotFather в Telegram
BOT_TOKEN=8480976603:AAEcYvQ51AEQqeVtaJDypGfg_xMcO7ar2rI

# Game URL
GAME_URL=https://money8888-production.up.railway.app/

# Webhook URL для Railway
WEBHOOK_URL=https://money8888-production.up.railway.app/webhook

# Server Configuration
PORT=3000
NODE_ENV=production
